<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
<div class="login-container">
  <div class="container-fluid">
    <img src="/assets/logo.png" alt="login-image" class="login-image">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Usuario">
        <form [formGroup]="loginForm" class="login-form container-fluid" (ngSubmit)="onSubmit()">

          <div class="row">
            <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-12" appearance="standard">
              <mat-label>Nombre de usuario</mat-label>
              <input type="text" matInput formControlName="email">
              <mat-error *ngIf="tValidation.checkForErrors(loginForm.get('email'))">
                {{tValidation.checkForErrors(loginForm.get('email'))}}
              </mat-error>
            </mat-form-field>
      
            <mat-form-field class="col-sm-12 col-md-12 col-lg-12 col-xl-12" appearance="standard">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="tValidation.checkForErrors(loginForm.get('password'))">
                {{tValidation.checkForErrors(loginForm.get('password'))}}
              </mat-error>
            </mat-form-field>
          </div>
      
          <div class="row dialog-actions">
            <!-- <button type="button" class="btn-base btn-secondary-dialog" (click)="onCancelButton()">Cancelar</button> -->
            <button type="submit" class="btn-base btn-primary-dialog w-100">Guardar</button>
          </div>
        </form>
      </mat-tab>

      <mat-tab label="Código">Código</mat-tab>
    </mat-tab-group>
  </div>
</div>
