<header class="site-header bg-light">
  <div class="nav-container">
    <div class="main-left-section">
      <div class="side-bar-button-section">
        <a href="#" class="">
          <mat-icon>menu</mat-icon>
        </a>
      </div>

      <div class="logo-section">
        <img src="/assets/logo.png" alt="logo" height="31" width="150">
      </div>

      <nav class="quick-access-menu-section">
        <ul>
          <li><a href="#">Agendar Cita</a></li>
        </ul>
      </nav>
    </div>

    <div class="main-right-section">
      <div class="search-section">
        <form id="form-search">
          <input class="search-input" type="text" placeholder="Search">
        </form>
      </div>

      <div class="notifications-section">
        <mat-icon matBadge="15" matBadgeColor="warn">notifications_none</mat-icon>
      </div>

      <div class="avatar-section">
        <img src="/assets/avatar@2x.png" alt="profile-image" height="62" width="62">
      </div>
    </div>
  </div>
</header>
