<app-dialog-header [subtitle]="'Ingrese los campos correspondientes'" [title]="titleDialog">
</app-dialog-header>

<form *ngIf="isIdIn" [formGroup]="employeeFormGroup" class="form-group" (ngSubmit)="onSubmit()">

  <div class="row">
    <mat-form-field class="col-lg-6" appearance="standard">
      <mat-label>Nombre de usuario *</mat-label>
      <input type="text" matInput formControlName="name">
      <mat-error *ngIf="tValidation.checkForErrors(employeeFormGroup.get('name'))">
        {{tValidation.checkForErrors(employeeFormGroup.get('name'))}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>Fecha de nacimiento *</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="tValidation.checkForErrors(employeeFormGroup.get('birthDate'))">
        {{tValidation.checkForErrors(employeeFormGroup.get('birthDate'))}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>Teléfono *</mat-label>
      <input type="tel" matInput placeholder="311-5557-1234" formControlName="phoneNumber">
      <mat-error *ngIf="tValidation.checkForErrors(employeeFormGroup.get('phoneNumber'))">
        {{tValidation.checkForErrors(employeeFormGroup.get('phoneNumber'))}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>Teléfono opcional</mat-label>
      <input type="tel" matInput placeholder="311-5557-1234" formControlName="optionalPhoneNumber">
      <mat-error *ngIf="tValidation.checkForErrors(employeeFormGroup.get('optionalPhoneNumber'))">
        {{tValidation.checkForErrors(employeeFormGroup.get('optionalPhoneNumber'))}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>Correo Electrónico *</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error *ngIf="tValidation.checkForErrors(employeeFormGroup.get('email'))">
        {{tValidation.checkForErrors(employeeFormGroup.get('email'))}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-8" appearance="standard">
      <mat-label>Dirección</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St" formControlName="address">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>Código Postal</mat-label>
      <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043" formControlName="postalCode">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>Ciudad</mat-label>
      <input matInput placeholder="Ex. San Francisco" formControlName="city">
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>Estado</mat-label>
      <input matInput placeholder="Ex. San Francisco" formControlName="state">
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>País</mat-label>
      <input matInput placeholder="Ex. San Francisco" formControlName="country">
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>C.U.R.P.</mat-label>
      <input matInput placeholder="Ex. San Francisco" formControlName="curp">
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>R.F.C.</mat-label>
      <input matInput placeholder="Ex. San Francisco" formControlName="rfc">
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>N.S.S.</mat-label>
      <input matInput placeholder="Ex. San Francisco" formControlName="nss">
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>Seleccione una opción *</mat-label>
      <mat-select formControlName="status">
        <mat-option value="ACTIVE">Activo</mat-option>
        <mat-option value="INNACTIVE">Inactivo</mat-option>
      </mat-select>
      <mat-error *ngIf="tValidation.checkForErrors(employeeFormGroup.get('status'))">
        {{tValidation.checkForErrors(employeeFormGroup.get('status'))}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-lg-4" appearance="standard">
      <mat-label>Seleccione una opción</mat-label>
      <mat-select formControlName="turn">
        <mat-option *ngFor="let item of turns" value="item">{{item.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="tValidation.checkForErrors(employeeFormGroup.get('turn'))">
        {{tValidation.checkForErrors(employeeFormGroup.get('turn'))}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row dialog-actions">
    <button class="btn-base btn-secondary-dialog" (click)="onNoClick()">Cancelar</button>
    <button class="btn-base btn-primary-dialog">Guardar</button>
  </div>

</form>
