table#list-users {
  width: 100%;
}

.status-employee-active,
.status-employee-innactive {
  color: white;
  padding: 3px 0 3px 0;
  font-size: 12px;
  display: block;
  text-align: center;
  margin: auto 6px;
  border-radius: 4px;
}

.status-employee-active {
  background-color: green;
}

.status-employee-innactive {
  background-color: red;
}
