<app-dialog-header [subtitle]="'Formulario para la creación de un nuevo usuario'" [title]="'Crear usuario'">
</app-dialog-header>

<div class="dialog-container">
  <form [formGroup]="createFormGroup" class="container-fluid" (ngSubmit)="onSubmit()">

    <div class="row">
      <mat-form-field class="col-lg-6" appearance="standard">
        <mat-label>Nombre de usuario</mat-label>
        <input type="text" matInput formControlName="userName">
        <mat-error *ngIf="tValidation.checkForErrors(createFormGroup.get('userName'))">
          {{tValidation.checkForErrors(createFormGroup.get('userName'))}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-lg-6" appearance="standard">
        <mat-label>Correo Electrónico</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error *ngIf="tValidation.checkForErrors(createFormGroup.get('email'))">
          {{tValidation.checkForErrors(createFormGroup.get('email'))}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-lg-6" appearance="standard">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="tValidation.checkForErrors(createFormGroup.get('password'))">
          {{tValidation.checkForErrors(createFormGroup.get('password'))}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-lg-6" appearance="standard">
        <mat-label>Confirmar contraseña</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
        <mat-error *ngIf="tValidation.checkForErrors(createFormGroup.get('confirmPassword'))">
          {{tValidation.checkForErrors(createFormGroup.get('confirmPassword'))}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-lg-6" appearance="standard">
        <mat-label>Elige una opción</mat-label>
        <mat-select formControlName="status">
          <mat-option value="ACTIVE">Activo</mat-option>
          <mat-option value="INNACTIVE">Inactivo</mat-option>
        </mat-select>
        <mat-error *ngIf="tValidation.checkForErrors(createFormGroup.get('confirmPassword'))">
          {{tValidation.checkForErrors(createFormGroup.get('confirmPassword'))}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row dialog-actions">
      <button class="btn-base btn-secondary-dialog" (click)="onNoClick()">Cancelar</button>
      <button class="btn-base btn-primary-dialog">Guardar</button>
    </div>

  </form>
</div>
