<app-dialog-header
  (closeDialogEvent)="closeDialog($event)"
  [subtitle]="'Formulario para la actualizar un usuario'" 
  [title]="'Actualizar usuario'">
</app-dialog-header>

<div class="dialog-container">
  <form [formGroup]="updateFormGroup" class="container-fluid" (ngSubmit)="onSubmit()">

    <div class="row">
      <mat-form-field class="col-sm-12 col-md-6 col-lg-6 col-xl-6" appearance="standard">
        <mat-label>Elige una opción</mat-label>
        <mat-select formControlName="status">
          <mat-option value="ACTIVE">Activo</mat-option>
          <mat-option value="INNACTIVE">Inactivo</mat-option>
        </mat-select>
        <mat-error *ngIf="tValidation.checkForErrors(updateFormGroup.get('status'))">
          {{tValidation.checkForErrors(updateFormGroup.get('status'))}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row dialog-actions">
      <button type="button" class="btn-base btn-secondary-dialog" (click)="onCancelButton()">Cancelar</button>
      <button type="submit" class="btn-base btn-primary-dialog">Guardar</button>
    </div>
  </form>
</div>
