<div class="user-list-container">
  <div class="container-fluid">
    <div class="scroll-container row">
      <div *ngFor="let user of dataSource.data" class="col-md-3 col-lg-3 col-xl-3">
        <div class="card">
          <div class="rounded-image">
            <div class="image-border">
              <div class="user-image"></div>
            </div>
          </div>

          <div class="user-description">
            <div class="user-card-title">{{ user.userName }}</div>

            <div class="user-body d-flex justify-content-center">
              {{ user.email }}
            </div>
            <div class="user-body d-flex justify-content-center" >
              <span 
                [ngClass]="{
                  'user-status-border': user.status === 'INNACTIVE',
                  'user-status-border-active': user.status === 'ACTIVE'
                }"
              >
                {{ user.status | userStatus }}
              </span>
            </div>
          </div>

          <div class="user-actions">
            <button class="show-more" (click)="updateOne(user)">Ver más</button>

            <button class="delete-user" (click)="deleteOne(user)" >Eliminar</button>
          </div>
        </div>
      </div>
    </div>

    <mat-paginator
      *ngIf="dataSource.data && dataSource.data?.length > 0" 
      [length]="dataSource.total"
      [pageSize]="dataSource.pageSize"
      [pageSizeOptions]="[5, 10, 20, 30]"
      (page)="getUsers($event.pageIndex, $event.pageSize)"
    >
    </mat-paginator>

  </div>
</div>
