<app-dialog-header
  (closeDialogEvent)="closeDialog($event)"
  [subtitle]="'Formulario para la actualizar un usuario'" 
  [title]="'Actualizar usuario'">
</app-dialog-header>

<div class="dialog-container">
  <form [formGroup]="updateFormGroup" class="container-fluid" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" appearance="standard">
        <ng-select 
          [placeholder]="'Elige un estatus'" 
          formControlName="status" 
          [items]="selectOptions" 
          bindLabel="name" bindValue="value">
        </ng-select>
        <mat-error *ngIf="tValidation.checkForErrors(updateFormGroup.get('status'))">
          {{tValidation.checkForErrors(updateFormGroup.get('status'))}}
        </mat-error>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <app-roles-select [setPlaceHolder]="'Selecciona un rol'" 
          (selectedValue)="updateFormGroup.get('role').setValue($event?._id)"
          [ngSelectValue]="updateFormGroup.get('role').value"
          >
        </app-roles-select>

        <mat-error *ngIf="tValidation.checkForErrors(updateFormGroup.get('role'))">
          {{tValidation.checkForErrors(updateFormGroup.get('role'))}}
        </mat-error>
      </div>
    </div>

    <div class="row dialog-actions">
      <button type="button" class="btn-base btn-secondary-dialog" (click)="onCancelButton()">Cancelar</button>
      <button type="submit" class="btn-base btn-primary-dialog">Guardar</button>
    </div>
  </form>
</div>
