<div class="permission-list-container row">
  <div class="module-button-container col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <mat-icon>create</mat-icon>

    <h4 class="module-button-title">CRM</h4>

    <button class="module-button button-crm">
    </button>

    <mat-checkbox class="module-checkbox"> </mat-checkbox>
  </div>

  <div class="module-button-container col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <mat-icon>multiline_chart</mat-icon>

    <h4 class="module-button-title">ERP</h4>

    <button class="module-button button-crm">
    </button>

    <mat-checkbox class="module-checkbox"> </mat-checkbox>
  </div>

  <div class="module-button-container col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <mat-icon>local_hospital</mat-icon>

    <h4 class="module-button-title">Pacientes</h4>

    <button class="module-button button-crm">
    </button>

    <mat-checkbox class="module-checkbox"> </mat-checkbox>
  </div>

  <div class="module-button-container col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <mat-icon>date_range</mat-icon>

    <h4 class="module-button-title">Citas</h4>

    <button class="module-button button-crm">
    </button>

    <mat-checkbox class="module-checkbox"> </mat-checkbox>
  </div>

  <div class="module-button-container col-sm-12 col-md-4 col-lg-4 col-xl-4">
    <mat-icon>account_box</mat-icon>

    <h4 class="module-button-title">Usuarios</h4>

    <button class="module-button button-crm">
    </button>

    <mat-checkbox class="module-checkbox"> </mat-checkbox>
  </div>
</div>