<nav class="tool-bar">
  <div class="tool-bar-container">
    <div class="description-section">
      <h3 class="text-primary">Padecimientos</h3>
      <span class="text-secondary">Todo sobre padecimientos</span>
    </div>
    <div class="action-section d-flex">
      <button class="btn-base btn-tool-icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button class="btn-base btn-tool" routerLink="nuevo-padecimiento" type="button">Nuevo padecimiento</button>
    </div>
  </div>
</nav>

<app-list-diseases></app-list-diseases>
<router-outlet></router-outlet>
