body {
  position: relative;
  padding-top: 160px;
  height: 100%;

  .main-container {
    width: 100%;
  }

  .tool-bar {
    height: 80px;
    position: sticky;
    top: 80px;
    background-color: #eafaf3;
  }
}
