<div class="role-list-container">
  <h4 class="role-list-title">Lista de roles</h4>

  <form id="roles-form-search">
    <input class="search-input" type="text" placeholder="Search">
  </form>

  <div class="container-fluid list-header">
    <div class="row">
      <span class="col-sm-3 col-md-3 col-lg-3 col-xl-3">NO</span> <span class="col-sm-9 col-md-9 col-lg-9 col-xl-9 d-flex justify-content-center">NAME</span>
    </div>
  </div>

  <mat-selection-list [multiple]="false">
    <mat-list-option>
      <div class="list-option-content d-flex justify-space-between">
        <span class="col-sm-3 col-md-3 col-lg-3 col-xl-3">1</span>
        <span class="col-sm-9 col-md-9 col-lg-9 col-xl-9 d-flex justify-content-center">Pepper</span>
      </div>
    </mat-list-option>

    <mat-list-option>
      <div class="list-option-content d-flex justify-space-between">
        <span class="col-sm-3 col-md-3 col-lg-3 col-xl-3">2</span>
        <span class="col-sm-9 col-md-9 col-lg-9 col-xl-9 d-flex justify-content-center">Pepper</span>
      </div>
    </mat-list-option>

    <mat-list-option>
      <div class="list-option-content d-flex justify-space-between">
        <span class="col-sm-3 col-md-3 col-lg-3 col-xl-3">3</span>
        
        <span class="col-sm-9 col-md-9 col-lg-9 col-xl-9 d-flex justify-content-center">Pepper</span>
      </div>
    </mat-list-option>

    <mat-list-option>
      <div class="list-option-content d-flex justify-space-between">
        <span class="col-sm-3 col-md-3 col-lg-3 col-xl-3">4</span>
        <span class="col-sm-9 col-md-9 col-lg-9 col-xl-9 d-flex justify-content-center">Pepper</span>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
